/*
!forca-setup.sh
!/applications/
!/applications/ForCA/
!/applications/ForCA/*
!/applications/ForCA/*/*
!/applications/ForCA/*/*/*
!/applications/ForCA/*/*/*/*
!/applications/ForCA/*/*/*/*/*
!/applications/ForCA/*/*/*/*/*/*
!/applications/ForCA/*/*/*/*/*/*/*
