{{extend 'layout.html'}}

{{=H1('Admin')}}

<div name="last_registered">
    <h2>Últimos usuários registrados</h2>
    <ul>
        {{for user in users:}}
            <li><b>{{=user['name']}}</b> ({{=user['email']}})</li>
        {{pass}}
    </ul>
</div>
<br/>
<div name="last_registered">
    <h2>Últimos usuários logados</h2>
    <ul>
        {{for user in logged:}}
            <li><b>{{=user['name']}}</b> ({{=user['email']}}) - <i>{{=user['time']}}</i></li>
        {{pass}}
    </ul>
</div>
<br/>
<div name="evals_stats">
    <h2>Estatísticas de avaliações</h2>
    <img src="{{=chart_url}}"/>
</div>

{{pass}}
