{{extend 'layout.html'}}
<div align=center style='text-align:center;'>
	{{=IMG(_src=URL('static', 'forca.png'))}}<br/>
	<span class='greenish'><b>Fórum Colaborativo de Avaliação</b></span>
	<br/><br/>
	<h4 style='text-align:center'>
		<b class='greenish'>ForCA</b> é um fórum colaborativo de
		avaliação de professores.<br/><br/>
		A proposta do <b class='greenish'>ForCA</b> é oferecer uma alternativa
		mais aberta, mais transparente e mais colaborativa aos métodos oficiais
		de avaliação dos professores.<br/><br/>
		No <b class='greenish'>ForCA</b>, sua
		avaliação tem visibilidade, e contribui diretamente para a experiência
		acadêmica de seus colegas e para a melhoria da qualidade do trabalho 
		do seu professor.
		<br/><br/>
	</h4>
	<h3 style='text-align:center'>
		Pesquise. Avalie. Escolha. <span class='greenish'>Colabore.</span>
	</h3>
</div>
