{{extend 'layout.html'}}
<h1>Professores</h1>
{{if auth.has_membership('Admin'):}}
    {{=A(H3('Criar novo professor'), _href='create')}}
{{pass}}
<table>
	<tr>
        <th>Nome</th>
        <th>Tá no ForCA?</th>
		<th>Média</th>
	</tr>
	{{for i, prof in enumerate(profs):}}
    <tr class={{='warning' if prof.blocked else ['even', 'odd'][i % 2]}}>
        <td>{{=prof.full_name if prof.blocked else A(prof.full_name, _href=URL('home', vars=dict(prof_id=prof.id)))}}</td>
        {{if prof.blocked:}}
            <td colspan=2 style="text-align: center">
                <b>Perfil bloqueado</b>
                {{=IMG(_src=URL('static', 'question.png'), _title="O professor solicitou o bloqueio de seu perfil")}}
            </td>
        {{else:}}
            <td>
                {{if prof.user_id:}}
                    {{=IMG(_src=URL('static', 'tick.png'))}}
                {{else:}}
                    {{=IMG(_src=URL('static', 'cross.png'))}}
                {{pass}}
            </td>
            <td><b>{{=prof.grade or '-'}}</b></td>
        {{pass}}
	</tr>
	{{pass}}
</table>

